{
    "trailingComma": "none",
    "singleQuote": true,
    "tabWidth": 4,
    "proseWrap": "never",
    "overrides": [
        {
            "files": "**/*.html",
            "options": { "parser": "lwc" }
        }
    ],
    "jsxBracketSameLine": true
}
