.icj-field-list {
    height: 100%;
    position: relative;
    background-color: #ffffff;
    min-width: 15rem;
    min-width: 20rem;
    border-right: 1px solid #dddbda;
}

.icj-data-list {
    height: 100%;
    background-color: #ffffff;
    position: relative; 
}

.icj-scroller {
    max-height: 100%;
    max-width: 100%;
    border-left: 1px solid #dddbda;
    border-right: 1px solid #dddbda;
    border-bottom: 1px solid #dddbda;
}

.icj-data-table {
    table-layout: fixed;
    width: 100%;
    border-top: none;
    border-bottom: none;
}

.icj-data-table__column {
    width: 12rem;
}

.icj-data-table thead tr {
    border-top: none;
    border-bottom: none;
}

.icj-data-table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    border-top: none;
    border-bottom: none;
}

.icj-data-table thead th::before {
    content: '';
    width: 100%;
    border-bottom: 1px solid #dddbda;
    position: absolute;
    top: 0;
    left: 0;
}

.icj-data-table thead th::after {
    content: '';
    width: 100%;
    border-bottom: 1px solid #dddbda;
    position: absolute;
    bottom: 0;
    left: 0;
}

.icj-data-table tbody tr:first-child td {
    border-top: none;
}

.icj-data-table thead th:first-child,
.icj-data-table tbody td:first-child {
    padding-left: 0.5rem;
}
.icj-data-table thead th:last-child,
.icj-data-table tbody td:last-child {
    padding-right: 0.5rem;
}

.icj-icon-button {
    border: none;
    box-shadow: none;
}