:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

:host .slds-box {
    background-color: #fff;
    padding: 0.5rem;
}

.icj-request-panel {
    height: 40%;
}

.icj-object-type,
.icj-external-id-field,
.icj-web-service-method {
    min-width: 300px;
}

.icj-response-panel {
    height: 60%;
}

.icj-result-table-scroller {
    max-height: 95%;
    border: 1px solid #dddbda;
}

.icj-result-table {
    border-top: none;
    border-bottom: none;
}

.icj-result-table thead tr {
    border-top: none;
    border-bottom: none;
}

.icj-result-table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    border-top: none;
    border-bottom: none;
}

.icj-result-table thead th::after {
    content: '';
    width: 100%;
    border-bottom: 1px solid #dddbda;
    position: absolute;
    bottom: 0;
    left: 0;
}

.icj-result-table tbody tr:first-child td {
    border-top: none;
}

.icj-result-table thead th:first-child,
.icj-result-table tbody td:first-child {
    padding-left: 0.5rem;
}

.icj-combobox__input--readonly {
    border-color: #dddbda;
    padding-left: 0.75rem;
    cursor: pointer;
}

.icj-combobox__input--readonly:focus {
    border-color: #1589ee;
    box-shadow: 0 0 3px #0070d2;
}

.icj-error-description {
    max-height: 100px;
    overflow-y: auto;
}

.icj-error-description p {
    white-space: break-spaces;
    word-break: break-all;
}

.icj-error-msg {
    white-space: pre-wrap;
}